<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Przychodnia</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
<div class="container">
    <form th:object="${Patient}" th:action="${'/save-patient-med'}"  method='post'>
        <div>
            <table>
                <tr>
                    <td>Select medicine:</td>
                    <td>
                        <select th:field="*{medicine_id}">
                            <option th:each="med: ${medicines}"
                                    th:value="${med.id}"
                                    th:utext="${med.name}"/>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <br>
        <div class="row">
            <button type="submit" class="btn btn default">Dodaj lek</button>
        </div>
    </form>
    <br>
    <br>
    <div>
        <a href="/patients">Wróć</a>
    </div>
</div>
</body>
</html>