<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Przychodnia</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
<div class="container">
    <div>
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a th:href="@{/new-employee}">Pracownicy</a></li>
            <li role="presentation"><a th:href="@{/patients}">Zwierzęta</a></li>
            <li role="presentation"><a th:href="@{/medicines}">Lekarstwa</a></li>
            <li role="presentation"><a th:href="@{/treatments}">Zabiegi</a></li>
        </ul>
    </div>
    <div>
        <h2>Utworz nowego pracownika</h2>
        <form th:action="@{/save-employee}" th:object="${Employee}" method='POST' enctype="multipart/form-data">
            <div class="form-group">
                <label class="control-label">imie: </label>
                <input type="text" class="from-control" th:field="*{name}"/>
            </div>
            <div class="form-group">
                <label class="control-label">nazwisko: </label>
                <input type="text" class="from-control" th:field="*{surname}"/>
            </div>
            <div class="form-group">
                <label class="control-label">wiek: </label>
                <input type="number" class="from-control" th:field="*{age}"/>
            </div>
            <table>
                <tr>
                    <td>Select position:</td>
                    <td>
                        <select th:field="*{position}">

                            <option th:each="position: ${positions}"
                                    th:value="${position.id}"
                                    th:utext="${position.name}"/>
                        </select>
                    </td>
                </tr>
            </table>
            <br>
            <br>
            <div class="form-group">
                <label class="control-label">Zdjęcie: </label>
                <input type="file" class="from-control" name="file" />
            </div>
            <div class="row">
                <button type="submit" class="btn btn default">Dodaj nowego pracownika</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>