<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Przychodnia</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
<div class="container">
    <div class="container">
        <div>
            <ul class="nav nav-tabs">
                <li role="presentation"><a th:href="@{/home}">Home</a></li>
                <li role="presentation" class="active"><a th:href="@{/employees}">Pracownicy</a></li>
                <li role="presentation"><a th:href="@{/patients}">Zwierzęta</a></li>
            </ul>
        </div>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <td>#</td>
                    <td>Imie</td>
                    <td>Nazwisko</td>
                    <td>Wiek</td>
                    <td>Pensja</td>
                    <td>Grupa</td>
                    <td>Stanowisko</td>
                </tr>
            </thead>
            <tbody th:each="employee, iter: ${employees}">
            <tr>
                <td th:text="${iter.index + 1}"></td>
                <td th:text="${employee.getName()}"></td>
                <td th:text="${employee.getSurname()}"></td>
                <td th:text="${employee.getAge()}"></td>
                <td th:text="${employee.getSalary()}"></td>
                <td th:each="group : ${employee.getGroup()}">
                    <ul>
                        <li th:text="${group.getName()}"></li>
                    </ul>
                </td>
                <td th:each="position: ${employee.getPosition()}">
                    <ul>
                        <li th:text="${position.getName()}"></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a href="/group">Dodaj nowa grupe</a>
        <br>
        <a href="/new-position">Dodaj nowe stanowisko</a>
        <br>
        <a href="/new-employee">Dodaj nowego pracownika</a>
    </div>
</div>
</body>
</html>