<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Przychodnia</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
   <!-- <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>-->
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
<div class="container">
    <div>
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a th:href="@{/home}">Home</a></li>
            <li role="presentation"><a th:href="@{/employees}">Pracownicy</a></li>
            <li role="presentation"><a th:href="@{/patients}">Zwierzeta</a></li>
            <li role="presentation"><a th:href="@{/owners}">Właściciele</a></li>
            <li role="presentation"><a th:href="@{/medicines}">Lekarstwa</a></li>
            <li role="presentation"><a th:href="@{/treatments}">Zabiegi</a></li>
            <li role="presentation"><a th:href="@{/main}">jQuery</a></li>
        </ul>
    </div>
</div>
</body>

</html>