<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
<div>
    <div>
        <table>
            <thead>
            <tr>
                <td>#</td>
                <td>Imie</td>
                <td>Nazwisko</td>
                <td>Wiek</td>
            </tr>
            </thead>
            <tbody th:each="owner, iter: ${owners}">
            <tr>
                <td th:text="${iter.index + 1}"></td>
                <td th:text="${owner.getName()}"></td>
                <td th:text="${owner.getSurname()}"></td>
                <td th:text="${owner.getAge()}"></td>
                <td th:text="${owner.getAnimals()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <div>
            <form th:action="@{/save-owner}" th:object="${Owner}" method="post">
                <div>
                    <label>Imie: </label>
                    <input type="text" th:field="*{name}">
                </div>
                <div>
                    <label>Nazwisko: </label>
                    <input type="text" th:field="*{surname}">
                </div>
                <div>
                    <label>Wiek: </label>
                    <input type="text" th:field="*{age}">
                </div>
                <div>
                    <button type="submit">Dodaj właściciela</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>