<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Przychodnia</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>

<br>
<div class="container">
    <h2>Utworz nowego zwierzaka</h2>
    <form th:action="@{/save-patient}" th:object="${Patient}" method='POST'>
        <div class="form-group">
            <label class="control-label">imie: </label>
            <input type="text" class="from-control" th:field="*{name}"/>
        </div>
        <div class="form-group">
            <label class="control-label">Wiek: </label>
            <input type="number" class="from-control" th:field="*{age}"/>
        </div>
        <div class="form-group">
            <label class="control-label">Data Urodzenia: </label>
            <input type="text" class="from-control" th:field="*{birthDate}"/>
        </div>
        <div class="form-group">
            <label class="control-label">Waga: </label>
            <input type="number" class="from-control" th:field="*{weight}"/>
        </div>
        <div>
            <table>
                <tr>
                    <td>Select sex:</td>
                    <td>
                        <select th:field="*{sex}">

                            <option th:each="sex: ${sexes}"
                                    th:value="${sex.id}"
                                    th:utext="${sex.name}"/>
                        </select>
                    </td>
                </tr>
            </table>
            <br>
            <br>
            <table>
                <tr>
                    <td>Select size:</td>
                    <td>
                        <select th:field="*{size}">

                            <option th:each="size: ${sizes}"
                                    th:value="${size.id}"
                                    th:utext="${size.name}"/>
                        </select>
                    </td>
                </tr>
            </table>
            <br>
            <br>
            <table>
                <tr>
                    <td>Select race:</td>
                    <td>
                        <select th:field="*{race}">

                            <option th:each="race: ${races}"
                                    th:value="${race.id}"
                                    th:utext="${race.name}"/>
                        </select>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>Select color eyes:</td>
                    <td>
                        <select th:field="*{color}">

                            <option th:each="color: ${colors}"
                                    th:value="${color.id}"
                                    th:utext="${color.color}"/>
                        </select>
                    </td>
                </tr>
            </table>
            <br>
            <br>

        </div>
        <br>
        <br>
        <div class="row">
            <button type="submit" class="btn btn default">Utwórz nowego zwierzaka</button>
        </div>
    </form>

</div>
</body>
</html>